body {
    background-color: #353b48;
    height: 100vh;
}

#links ul li a {
    color: #62578e;
    font-size: 18px;
}

#links ul li a:hover {
    color: #4d4180;
}

#btn-login {
    border: none;
    background-color: #6337ca;
    width: 80px;
    height: 40px;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 18px;
    margin-right: 20px;
    margin-left: 10px;
    transition: 0.2s;
}

#btn-login:hover {
    background-color: #552bb8;
    color: #e6e6e6;
}

footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0%;
}

#drop {
    padding-right: 5px;
    background-color: transparent;
}

#drop button{  
    background-color: transparent;
    border: none;
}

#drop ul li {
    width: 10px;
}
